@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&subset=korean');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro');

body {
  background-color: #282a36;
  color: #f8f8f2;
  margin: 0;
  /* font-family: "Noto Sans KR", "Open Sans", sans-serif; */
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  /* font-size: 1.1rem; */
  line-height: 1.6;
}

code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.875em;
  line-height: 1.375;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.7rem;
  }
}

a {
  text-decoration: none;
  color: #f8f8f2;
}
a:hover {
  color: #ff79c6;
}


blockquote {
  background: #282a36;
  border-left: 6px solid #6272a4;
  margin: 1.5em 10px;
  padding: 0.5em 10px 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
